<a href="https://colab.research.google.com/github/nidatariq128/Assingment-6/blob/main/06_Build_Compose_and_Decorate_A_Complete_Traditional_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

01.Using self

In [2]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display(self):
        print("Student Name:", self.name)
        print("Marks:", self.marks)

# Object banate hain
student1 = Student("Ayat", 87)

# Display method call karta h
student1.display()

Student Name: Ayat
Marks: 87

02.Using cls ap jitni br print kro gy no. plus hota jaay ga

In [3]:
class Counter:
  count=0

  def __init__(self):

    Counter.count += 1

  @classmethod
  def display_count(cls):
    print("Total objects created:", cls.count)

# Objects create karte hain
c1 = Counter()
c2 = Counter()
c3 = Counter()
c4 = Counter()

# Count display karte hain
Counter.display_count()

Total objects created: 4

03.Public Variables and Methods

In [4]:
class Car:
  brand="Toyota"

  def start(self):
    print("The car has started")

car1=Car()

print("Car brand:",car1.brand)

car1.start()

Car brand: Toyota
The car has started

04.Class Variables and Class Methods

In [5]:
class Bank:
   bank_name = "Meezan bank"

   @classmethod
   def change_bank_name(cls, name):
     cls.bank_name = name

account1 = Bank()
account2 = Bank()
account3 = Bank()

print("Account1 Bank:", account1.bank_name)
print("Account2 Bank:", account2.bank_name)
print("Account3 Bank:", account3.bank_name)

Bank.change_bank_name("Alfalah bank")

print("Account1 Bank after change:", account1.bank_name)
print("Account2 Bank after change:", account2.bank_name)
print("Account3 Bank after change:", account3.bank_name)

Account1 Bank: Meezan bank
Account2 Bank: Meezan bank
Account3 Bank: Meezan bank
Account1 Bank after change: Alfalah bank
Account2 Bank after change: Alfalah bank
Account3 Bank after change: Alfalah bank

05.Static Variables and Static Methods

In [6]:
class MathUtils:

  @staticmethod
  def add(a,b):
    return a+b

result = MathUtils.add(5, 3)

print("Sum is:", result)

Sum is: 8

06.Constructors and Destructors

In [7]:
class Logger:

  def __init__(self):
    print("Logger object has been created")

  def __del__(self):
    print("Logger object has been destroyed")

Log1 = Logger()
del Log1

Logger object has been created
Logger object has been destroyed

07.Access Modifiers: Public, Private, and Protected

In [9]:
class Employee:
  def __init__(self,name,salry,ssn):
    self.name = name
    self._salry = salry
    self.__ssn = ssn  #__ye private krne k liy hota h

emp1= Employee("Nida", 5000, 4324)

print("Name:",emp1.name)

print("Salry(protected):",emp1._salry)
try:
   print("SSN(private):", emp1.__ssn)
except AttributeError as e:
   print("Error accessing private variable:",e)

   print("SSN (accessed via name mangling):", emp1._Employee__ssn)

Name: Nida
Salry(protected): 5000
Error accessing private variable: 'Employee' object has no attribute '__ssn'
SSN (accessed via name mangling): 4324

08.The super() Function

In [10]:
class Person:
  def __init__(self, name):
    self.name = name

class Teacher(Person):
  def __init__(self,name,subject):
    super(). __init__(name)
    self.subject = subject

  def display(self) :
    print("Name:",self.name)
    print("Subject:",self.subject)

teacher1  = Teacher("Nida:", "Artificial inteligence")
teacher1.display()

Name: Nida:
Subject: Artificial inteligence

09.Abstract Classes and Methods

In [11]:
from abc import ABC, abstractmethod

class Shape(ABC):
  @abstractmethod
  def area(self):
    pass

class Rectangle(Shape):
  def __init__(self,height,width):
    self.height = height
    self.width = width

  def area(self):
     return self.height * self.width

rect = Rectangle(5, 6)

print("Area of rectangle:", rect.area())

Area of rectangle: 30

10.Instance Methods

In [12]:

class Dog:
  def __init__(self,name,breed):
    self.name = name
    self.breed = breed
  def bark(self):
    print(f"{self.name} is barking!")

dog1 = Dog("tommy","Labrador")
dog1.bark()

tommy is barking!

11.
Class Methods

In [13]:
class Book:
    # Class variable
    total_books = 0

    def __init__(self, title):
        self.title = title
        Book.increment_book_count()

    @classmethod
    def increment_book_count(cls):
        cls.total_books += 1

    @classmethod
    def display_total_books(cls):
        print("Total books:", cls.total_books)

book1 = Book("Python Basics")
book2 = Book("Learn Java")
book3 = Book("C++ Guide")

Book.display_total_books()

Total books: 3

12.Static Methods

In [14]:
class TemperatureConverter:
    @staticmethod
    def celsius_to_fahrenheit(c):
      return (c * 9/5) + 32

print("25째C in Fahrenheit:", TemperatureConverter.celsius_to_fahrenheit(25))

converter =  TemperatureConverter()

print("30째C in Fahrenheit:", converter.celsius_to_fahrenheit(30))

25째C in Fahrenheit: 77.0
30째C in Fahrenheit: 86.0

13.Composition

In [15]:
class Engine:
  def start(self):
    print("Engine started")

class Car:
  def __init__(self,engine):
   self.engine = engine

  def start_car(self):
     print("Car is started")
     self.engine.start()

engine1 = Engine()
car1 = Car(engine1)
car1.start_car()

Car is started
Engine started

14.Aggregation

In [17]:
class Employee:
    def __init__(self, name):
        self.name = name

    def show(self):
        print("Employee Name:", self.name)

class Department:
    def __init__(self, dept_name, employee):
        self.dept_name = dept_name
        self.employee = employee

    def show_department(self):
        print("Department Name:", self.dept_name)
        self.employee.show()

emp1 = Employee("Nida")

dept1 = Department("IT", emp1)
dept1.show_department()
emp1.show()

Department Name: IT
Employee Name: Nida
Employee Name: Nida

15.Method Resolution Order (MRO) and Diamond Inheritance

In [18]:
class A:
    def show(self):
        print("Method from class A")

class B(A):
    def show(self):
        print("Method from class B")

class C(A):
    def show(self):
        print("Method from class C")

class D(B, C):
    pass

d = D()
d.show()
print("MRO of class D:", [cls.__name__ for cls in D.__mro__])

Method from class B
MRO of class D: ['D', 'B', 'C', 'A', 'object']

16.Function Decorators

In [19]:
def log_function_call(func):
    def wrapper():
        print("Function is being called")
        func()
    return wrapper

@log_function_call
def say_hello():
    print("Hello!")

say_hello()

Function is being called
Hello!

17.Class Decorators

In [20]:
class Product:
    def __init__(self, price):
        self._price = price

    @property
    def price(self):
        print("Getting price...")
        return self._price
    @price.setter
    def price(self, value):
        if value < 0:
            print("Price cannot be negative!")
        else:
            print("Setting price...")
            self._price = value

    @price.deleter
    def price(self):
        print("Deleting price...")
        del self._price

p = Product(100)
print(p.price)

p.price = 150
print(p.price)

p.price = -50

del p.price

Getting price...
100
Setting price...
Getting price...
150
Price cannot be negative!
Deleting price...

18.Property Decorators

In [22]:
class Product:
    def __init__(self, price):
        self._price = price  # private attribute

    @property
    def price(self):
        """Get the price of the product."""
        return self._price

    @price.setter
    def price(self, value):
        """Set the price of the product."""
        if value < 0:
            raise ValueError("Price cannot be negative.")
        self._price = value

    @price.deleter
    def price(self):
        """Delete the price of the product."""
        print("Deleting price...")
        del self._price


# Example usage:
p = Product(100)
print(p.price)   # Get price

p.price = 150    # Set new price
print(p.price)

del p.price      # Delete price

100
150
Deleting price...

19.callable() and call()

In [23]:
class Multiplier:
    def __init__(self, factor):
        self.factor = factor

    def __call__(self, number):
        return number * self.factor
mul = Multiplier(5)
print(callable(mul))

result = mul(10)

print(result)

True
50

20.Creating a Custom Exception

In [24]:
class InvalidAgeError(Exception):
    pass

def check_age(age):
    if age < 18:
        raise InvalidAgeError("Age must be at least 18.")
    else:
        print("Age is valid.")
try:
    check_age(15)
except InvalidAgeError as e:
    print("Error caught:", e)

try:
    check_age(20)
except InvalidAgeError as e:
    print("Error caught:", e)

Error caught: Age must be at least 18.
Age is valid.

21.Make a Custom Class Iterable

In [25]:
class Countdown:
    def __init__(self, start):
        self.current = start
    def __iter__(self):
        return self

    def __next__(self):
        if self.current < 0:
            raise StopIteration
        else:
            value = self.current
            self.current -= 1
            return value
for num in Countdown(5):
    print(num)

5
4
3
2
1
0